<div class="pb-4 text-center" id="about_me">
	<div class="fs-3 fw-bold">Présentation</div>
	<div class="text-secondary">About me</div>
</div>

<div class="row justify-content-center">
	<div id="img_pres_container" class="col-md-6 my-4 justify-content-between">
		<img src="{{ asset(image_dir ~ 'adrien_florio.jpg') }}" alt="Adrien qui prend un chocolat chaud" class="shadow" id="img_pres">
	</div>
	<div class="col-md-6 pt-5">
		<div class="out_links_container text-center my-4">
			<a class="btn btn-link" href="https://www.linkedin.com/in/adrienflorio/" target="_blank">{{ ux_icon('mingcute:linkedin-fill') }}</a>
			<a class="btn btn-link" href="https://github.com/FlorioA" target="_blank">{{ ux_icon('akar-icons:github-fill') }}</a>
		</div>
		<div class="paragraphs">
			<p>
				Après une reconversion il y a 5 ans, j'ai passé des formations de Développeur Web Fullstack et eu plusieurs expériences professionnelles. J'ai suivi ma femme à Seattle et nous y avons vécu pendant deux ans. Notre retour en France est prévu pour septembre 2025, et je compte bien revenir dans le milieu pro du web français.
			</p>

			<p>
				J'ai principalement travaillé avec le framework Symfony, et je possède quelques bases personnelles sur des frameworks frontend tels que React ou Vue. Pour le Back-end je connais la gestion de bases de données, surtout en MySQL mais j'ai également fait du NoSQL avec MongoDB. Pour ce qui est du Front-end, j'ai l'habitude d'utiliser et de m'approprier Bootstrap. J'ai de l'expérience dans le templating avec Twig (Symfony oblige).
			</p>

			<p>
				A Seattle, j'ai eu l'opportunité de me concentrer sur des projets qui me tenaient à cœur : développement de jeux vidéo (sur GameMaker Studio et Godot) et de webtoons.
			</p>
		</div>
	</div>
</div>
