<div id="top" class="pb-4 text-center">
	<div class="pb-4">
		<span id="hello_tag">Bienvenue</span>
	</div>
	<div class="fs-2 fw-bold">
		Adrien Florio
	</div>
	<div class="text-secondary">
		Développeur web
	</div>
</div>

<div class="pb-4 mt-4">
	<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
		<a type="button" class="btn btn-outline-primary" target="_blank" href="{{ path('download_cv') }}">Télécharger mon CV</a>
		<a type="button" class="btn btn-primary" href="#about_me">A propos de moi</a>
	</div>
</div>

<div class="py-5"></div>
